@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>
    <img src="~/images/208x226-stacked-green.png" width="52" height="56" />
    This product uses the TMDb API but is not endorsed or certified by TMDb.
</p>